.card {
  height: 100% !important;
  padding: 30px;
}

.card:hover {
  box-shadow: #505257 0px 1px 16px -7px;
  transition: 0.2s;
}
.card-body {
  padding: 0 !important;
}

.card img {
  margin-bottom: 9px;
}

.card-text {
  text-align: center;
}
