.contact-banner {
  text-align: center;
  background-color: #505257;
  color: #ffff;
  padding: 50px;
}

.contact-banner h1 {
  font-size: 60px;
}

@media (min-width: 425px) and (max-width: 768px) {
  .services-banner h1 {
    font-size: 40px;
  }
}
@media (max-width: 424px) {
  .services-banner h1 {
    font-size: 30px;
  }
}
