footer {
  margin-top: 80px;
}

@media (max-width: 575px) {
  span {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  #first-para {
    order: 1;
  }
}

footer .terms:hover {
  text-shadow: blue 10px 11px 101px 11px !important;
}
