@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --custom-dark: #000000;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* Override Bootstrap dark utilities */
.bg-dark {
  background-color: var(--custom-dark) !important;
}
.text-dark {
  color: var(--custom-dark) !important;
}
.border-dark {
  border-color: var(--custom-dark) !important;
}

.list-group-item {
  background-color: transparent !important;
  color: inherit !important;
}
