@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

.navbar-main {
  background-image: url(./graphics/navbar.png);
}

.nav-link {
  color: #ffff !important;
}

.services-dropdown {
  position: absolute;
  top: 50px;
  background-color: rgba(123, 123, 123, 0.588);
  border-radius: 10px;
}
.services-dropdown li {
  padding: 0 20px 0 20px;
  text-align: left;
  text-decoration: none;
}

.services-dropdown li a {
  color: #ffff;
  text-decoration: none;
  font-weight: normal;
}

.services-dropdown li a:hover {
  text-decoration: underline;
}

#first {
  padding-top: 10px;
}
#second {
  padding-bottom: 10px;
}

@media (max-width: 425px) {
  .logo h1 {
    font-size: 40px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-dropdown {
    position: absolute;
    top: 88px;
    right: 107px;
  }
}
@media (min-width: 450px) and (max-width: 767px) {
  .services-dropdown {
    position: absolute;
    top: 88px;
    right: 15px;
  }
}
@media (min-width: 408px) and (max-width: 501px) {
  .services-dropdown {
    position: absolute;
    top: 100px;
    right: 40px;
  }
  .services-dropdown li a {
    font-size: 10px;
  }
  .services-dropdown li {
    padding: 0 10px 0 10px;
    text-align: left;
    text-decoration: none;
  }
  #first {
    padding-top: 5px;
  }
  #second {
    padding-bottom: 5px;
  }
}
@media (min-width: 430px) and (max-width: 500px) {
  .services-dropdown {
    position: absolute;
    top: 80px;
    right: 50px;
  }
  .services-dropdown li a {
    font-size: 10px;
  }
  .services-dropdown li {
    padding: 0 10px 0 10px;
    text-align: left;
    text-decoration: none;
  }
  #first {
    padding-top: 5px;
  }
  #second {
    padding-bottom: 5px;
  }
}
@media (min-width: 0px) and (max-width: 429px) {
  .services-dropdown {
    position: absolute;
    top: 80px;
    right: 0px;
  }
  .services-dropdown li a {
    font-size: 10px;
  }
  .services-dropdown li {
    padding: 0 10px 0 10px;
    text-align: left;
    text-decoration: none;
  }
  #first {
    padding-top: 5px;
  }
  #second {
    padding-bottom: 5px;
  }
}

@media (min-width: 992px) {
  #nav1:after {
    content: "";
    position: absolute;
    background-color: #ffff;
    height: 3px;
    bottom: 16px;
    left: 5px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav1:hover:after {
    width: 50px;
  }

  #nav2:after {
    content: "";
    position: absolute;
    background-color: #ffff;
    height: 3px;
    bottom: 16px;
    left: 65px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav2:hover:after {
    width: 50px;
  }

  #nav3:after {
    content: "";
    position: absolute;
    background-color: #ffff;
    height: 3px;
    bottom: 16px;
    left: 126px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav3:hover:after {
    width: 65px;
  }

  #nav4:after {
    content: "";
    position: absolute;
    background-color: #ffff;
    height: 3px;
    bottom: 16px;
    left: 226px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav4:hover:after {
    width: 70px;
  }
  #nav5:after {
    content: "";
    position: absolute;
    background-color: #ffff;
    height: 3px;
    bottom: 16px;
    left: 307px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav5:hover:after {
    width: 63px;
  }
}
.navbar-toggler {
  border: none !important;
  background: none !important;
}

.navbar-toggler-icon {
  background-image: url(./graphics/toggle.png) !important;
  background-size: 20px;
}
