@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

.navbar-main {
  background-image: url(./graphics/navbar.jpg);
}

.logo h1 {
  font-family: "Rampart One", cursive !important;
  font-size: 50px !important;
  color: #1976d2 !important;
}

.nav-link {
  color: #1976d2 !important;
}

@media (max-width: 425px) {
  .logo h1 {
    font-size: 40px !important;
  }
}

@media (min-width: 992px) {
  #nav1:after {
    content: "";
    position: absolute;
    background-color: #1976d2;
    height: 3px;
    bottom: 16px;
    left: 5px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav1:hover:after {
    width: 50px;
  }

  #nav2:after {
    content: "";
    position: absolute;
    background-color: #1976d2;
    height: 3px;
    bottom: 16px;
    left: 65px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav2:hover:after {
    width: 50px;
  }

  #nav3:after {
    content: "";
    position: absolute;
    background-color: #1976d2;
    height: 3px;
    bottom: 16px;
    left: 126px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav3:hover:after {
    width: 65px;
  }

  #nav4:after {
    content: "";
    position: absolute;
    background-color: #1976d2;
    height: 3px;
    bottom: 16px;
    left: 202px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav4:hover:after {
    width: 69px;
  }
  #nav5:after {
    content: "";
    position: absolute;
    background-color: #1976d2;
    height: 3px;
    bottom: 16px;
    left: 283px;
    width: 0;
    transition: all ease-in 0.3s;
  }
  #nav5:hover:after {
    width: 63px;
  }
}
.navbar-toggler {
  border: none !important;
  background: none !important;
}

.navbar-toggler-icon {
  background-image: url(./graphics/toggle.png) !important;
}
